

    Explore
    Gist
    Blog
    Help

    smcmahon

    0
    0

public smcmahon / logsplit

    Code
    Network
    Pull Requests 0
    Issues 0
    Wiki
    Graphs
    Settings

    Tags

    Files
    Commits
    Branches 1

logsplit / .gitignore
smcmahon a month ago
Initial commit

1 contributor
file 36 lines (29 sloc) 0.303 kb

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35

	

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
